<div class="col-md-4 mt-2">
  <div class="card shadow">
    <div class="card-header">
      <%= t("activerecord.models.#{custom_select_list.model_name_association}.others") %>
      <span class="badge rounded-pill text-bg-success"><%= custom_select_list.status %></span>
    </div>
    <div class="card-body">
    </div>
  </div>
</div>