<h1>Editar Caracterización Social y Ecológica</h1>

<%= render 'layouts/remote_modal', title: "EDITAR CARACTERIZACIÓN SOCIAL Y ECOLÓGICA" do %>
  <%= render "form", social_ecological_characterization: @social_ecological_characterization %>
<% end %>