<h1>Nueva Caracterización Social y Ecológica</h1>

<%= render 'layouts/remote_modal', title: "NUEVA CARACTERIZACIÓN SOCIAL Y ECOLÓGICA" do %>
  <%= render "form", social_ecological_characterization: @social_ecological_characterization %>
<% end %>