<div class="header mt-3">
  <h1>INFORMES MENSUALES</h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to new_monthly_report_path, class: "btn btn-primary", data: { turbo_frame: dom_id(MonthlyReport.new) } do %>
      <i class="bi bi-plus-circle-fill"></i> Nuevo informe
    <% end %>
  </div>
</div>

<%= turbo_frame_tag MonthlyReport.new %>
<%= turbo_frame_tag "monthly_reports" do %>
  <%= render @monthly_reports %>
<% end %>