<div class="header mt-3">
  <h1>INFORMES MENSUALES</h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to new_monthly_report_path, class: "btn btn-primary", data: { turbo_frame: dom_id(MonthlyReport.new) } do %>
      <i class="bi bi-plus-circle-fill"></i> Nuevo informe
    <% end %>
  </div>
</div>

<div class="d-flex border rounded px-3 mt-2 align-items-center bg-success text-white">
  <div class="col-4"><small>RESPONSABLE</small></div>
  <div class="col-2"><small>PERIODO REPORTADO</small></div>
  <div class="col-2"><small>FECHA DE PRESENTACION</small></div>
  <div class="col-2"><small>COMPONENTE</small></div>
  <div class="col-2"><small>ACCIONES</small></div>
</div>
<%= turbo_frame_tag MonthlyReport.new %>
<%= turbo_frame_tag "monthly_reports" do %>
  <%= render @monthly_reports %>
<% end %>