<div class="header mt-3">
  <h1>INFORMES MENSULES</h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to new_monthly_report_path, class: "btn btn-primary", data: { turbo: false } do %>
      <i class="bi bi-plus-circle-fill"></i> Nuevo informe
    <% end %>
  </div>
</div>