<div class="header mt-3">
  <h1>INFORME MENSUAL <%= @monthly_report.date_period.strftime("%B, %Y") %></h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to monthly_reports_path, class: "btn btn-outline-primary", data: { turbo_frame: "_top" } do %>
      <i class="bi bi-arrow-left"></i> Atrás
    <% end %>
    <%= link_to new_monthly_report_activity_path(@monthly_report), class: "btn btn-primary", data: { turbo: false } do %>
      <i class="bi bi-plus-circle-fill"></i> Nuevo actividad
    <% end %>
  </div>
</div>
