<div class="header mt-3">
  <h1>INFORME MENSUAL <%= @monthly_report.date_period.strftime("%B, %Y") %></h1>
  <div class="d-flex justify-content-start gap-2">
    <%= link_to monthly_reports_path, class: "btn btn-outline-primary", data: { turbo_frame: "_top" } do %>
      <i class="bi bi-arrow-left"></i> Atrás
    <% end %>
    <%= link_to new_monthly_report_activity_path(@monthly_report), class: "btn btn-primary", data: { turbo: false } do %>
      <i class="bi bi-plus-circle-fill"></i> Nuevo actividad
    <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="row border rounded bg-success text-white px-2 mt-2">
    <div class="col-2"><small>PROYECTO</small></div>
    <div class="col-3"><small>OBJETIVO ASOCIADO</small></div>
    <div class="col-2"><small>ACTIVIADAD</small></div>
    <div class="col-2"><small>FECHA INICIO</small></div>
    <div class="col-2"><small>FECHA FIN</small></div>
    <div class="col-1"><small>ESTADO</small></div>
  </div>
  <%= render @monthly_report.activities.ordered %>
</div>
